[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
sklearn = "*"
scipy = "*"
webcolors = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coveralls = "*"
hypothesis = "*"

[requires]
python_version = "3.6"
